<!doctype html>
<html class="no-js" lang="zxx">

    <!-- HEADER FRAGMENT -->
    <head>
    <div th:insert="header"></div>
    <title>Admin Home</title>
    
</head>

<body>


    <!-- ADMIN NAV -->
    <div th:insert="admin_nav"></div>

    <!-- Body main wrapper start -->
    <main>

        <div class="breadcrumb__area breadcrumb-space overflow-hidden banner-home-bg ">
            <div class="banner-home__middel-shape inner-top-shape"></div>
            <div class="container">
                <div class="banner-all-shape-wrapper">
                    <div class="banner-home__banner-shape-1 first-shape">
                        <img class="upDown-top" src="assets/imgs/banner-1/banner-shape-1.svg" alt="img not found">
                    </div>
                    <div class="banner-home__banner-shape-2 second-shape">
                        <img class="upDown-bottom" src="assets/imgs/banner-1/banner-shape-2.svg" alt="img not found">
                    </div>
                    <div class="right-shape">
                        <img class="zooming" src="assets/imgs/inner-img/inner-right-shape.svg" alt="img not found">
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-12">
                        <div class="breadcrumb__content text-center">
                            <div class="breadcrumb__title-wrapper mb-15 mb-sm-10 mb-xs-5">
                                <h1 class="breadcrumb__title color-white wow fadeIn animated" data-wow-delay=".1s">Admin Home</h1>
                            </div>
                            <div class="breadcrumb__menu wow fadeIn animated" data-wow-delay=".5s">
                                <nav>
                                    <ul>
                                        <li><span><a href="/adminLogin" target="_blank">Admin Login</a></span></li>
                                        <li class="active"><span>Admin Home</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- latest-team area start -->
        <section class="latest-team__area overflow-hidden main-team__area section-space">
            <div class="container">
                
                <div class="row">
                    <div class="col-12">
                        <div class="main-team__title-wrapper text-center mb-40">
                            <h6 class="main-team__title-wrapper-subtitle">Our Services</h6>
                            <h2 class="main-team__title-wrapper-title">We Offer Different Type Of Services</h2>
                        </div>    
                    </div>
                </div>
                <div class="row p-relative mb-minus-30">

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="latest-team__item-slide item-3  wow fadeInLeft animated" data-wow-delay=".4s">
                            <div class="latest-team__item-media">
                                <!--                            <div class="latest-team__item-media-social d-flex">
                                                                <a href="facebook.html" class="rr-btn"><i class="fa-brands fa-facebook-f"></i></a>
                                                                <a href="twitter.html" class="rr-btn"><i class="fa-brands fa-twitter"></i></a>
                                                                <a href="instagram.html" class="rr-btn"><i class="fa-brands fa-instagram"></i></a>
                                                            </div>-->
                                <div class="latest-team__item-media-img-title title">
                                    <!--<h5>Designer</h5>-->
                                    <a href="/adminManageCities" target="_blank"><h4>Manage Cities</h4></a>
                                </div>
                                <div class="latest-item_thumb">
                                    <a href="team-details.html">
                                        <img src="assets/imgs/admin-home/manage-cities.jpg" alt="images not found" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class=" latest-team__item-slide wow fadeInLeft animated" data-wow-delay=".8s">
                            <div class="latest-team__item-media">
                                <!--                            <div class="latest-team__item-media-social d-flex">
                                                                <a href="facebook.html" class="rr-btn"><i class="fa-brands fa-facebook-f"></i></a>
                                                                <a href="twitter.html" class="rr-btn"><i class="fa-brands fa-twitter"></i></a>
                                                                <a href="instagram.html" class="rr-btn"><i class="fa-brands fa-instagram"></i></a>
                                                            </div>-->
                                <div class="latest-team__item-media-img-title ">
                                    <!--<h5>Operator</h5>-->
                                    <a href="/adminManageServices" target="_blank"><h4>Manage Services</h4></a>
                                </div>
                                <div class="latest-item_thumb">
                                    <a href="team-details.html">
                                        <img src="assets/imgs/admin-home/manage-services.jpg" alt="images not found" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class=" latest-team__item-slide wow fadeInLeft animated" data-wow-delay="1.2s">
                            <div class="latest-team__item-media">
                                <!--                            <div class="latest-team__item-media-social d-flex">
                                                                <a href="facebook.html" class="rr-btn"><i class="fa-brands fa-facebook-f"></i></a>
                                                                <a href="twitter.html" class="rr-btn"><i class="fa-brands fa-twitter"></i></a>
                                                                <a href="instagram.html" class="rr-btn"><i class="fa-brands fa-instagram"></i></a>
                                                            </div>-->
                                <div class="latest-team__item-media-img-title ">
                                    <!--<h5>Senior Desinger</h5>-->
                                    <a href="/adminManageVendors" target="_blank"><h4>Manage Vendors</h4></a>
                                </div>
                                <div class="latest-item_thumb">
                                    <a href="team-details.html">
                                        <img src="assets/imgs/admin-home/manage-vendors.jpg" alt="images not found" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- latest-team area end -->

    </main>

    <!-- FOOTER FRAGMENT -->
    <div th:insert="footer"></div>
    
</body>


<!-- Mirrored from rrdevs.net/demos/html/printfix/sing-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Apr 2024 07:05:57 GMT -->
</html>