<!doctype html>
<html class="no-js" lang="zxx">

    <!-- HEADER FRAGMENT -->
    <head>
    <div th:insert="header"></div>
    <title>User Signup</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .error{
            color: red;
        }
    </style>
</head>

<body>

    <!-- USER NAV -->
    <div th:insert="user_nav"></div>

    <!-- Body main wrapper start -->
    <main>

        <div class="breadcrumb__area breadcrumb-space overflow-hidden banner-home-bg ">
            <div class="banner-home__middel-shape inner-top-shape"></div>
            <div class="container">
                <div class="banner-all-shape-wrapper">
                    <div class="banner-home__banner-shape-1 first-shape">
                        <img class="upDown-top" src="assets/imgs/banner-1/banner-shape-1.svg" alt="img not found">
                    </div>
                    <div class="banner-home__banner-shape-2 second-shape">
                        <img class="upDown-bottom" src="assets/imgs/banner-1/banner-shape-2.svg" alt="img not found">
                    </div>
                    <div class="right-shape">
                        <img class="zooming" src="assets/imgs/inner-img/inner-right-shape.svg" alt="img not found">
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-12">
                        <div class="breadcrumb__content text-center">
                            <div class="breadcrumb__title-wrapper mb-15 mb-sm-10 mb-xs-5">
                                <h1 class="breadcrumb__title color-white wow fadeIn animated" data-wow-delay=".1s">User Sign Up</h1>
                            </div>
                            <div class="breadcrumb__menu wow fadeIn animated" data-wow-delay=".5s">
                                <nav>
                                    <ul>
                                        <li><span><a href="/">Home</a></span></li>
                                        <li class="active"><span>User Sign Up</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- register area start  -->
        <div class="register-area pt-120 pb-120">
            <div class="container container-small">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="all-content">
                            <div class="title-wrapper text-center mb-40">
                                <h3 class="title">Welcome User!</h3>
                                <h6 class="subtitle">Enter your Credentials to access your account</h6>
                            </div>

                            <div class="signup-form-wrapper">
                                <div class="item-thumb">
                                    <form class="contact-us__form" id="signup" >

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="signup-item">
                                                    <input id="uname" name="uname" type="text" placeholder="Enter your name" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="signup-item">
                                                    <input id="uemail" name="uemail" type="email" placeholder="Enter email address" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="signup-item">
                                                    <input id="upass" name="upass" minlength="4" maxlength="8" type="password" placeholder="Create password" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="signup-item">
                                                    <input id="ucpass" name="ucpass" minlength="4" maxlength="8" data-rule-equalto="#upass" type="password" placeholder="Confirm password" required>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-6">
                                                <div class="contact-us__textarea ">
                                                    <textarea id="uaddress" name="uaddress" cols="30" rows="10" placeholder="Enter Address" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="signup-item">
                                                    <input id="ucontact" name="ucontact" type="number" minlength="10" maxlength="10" placeholder="Enter Contact" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="signup-item">
                                                    <input id="ph" name="ph" type="file" accept="image/*" required>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="button">
                                    <input type="button" value="Sign Up" class="sing-buttom mb-20" onclick="addUser()"/>
                                </div>
                                <div class="bottom-button">
                                </div>
                                <div id="d1">
                                    ANSWER WILL BE SHOWN HERE
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- register area end  -->
    </main>


    <!-- FOOTER FRAGMENT -->
    <div th:insert="footer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-qFOQ9YFAeGj1gDOuUD61g3D+tLDv3u1ECYWqT82WQoaWrOhAY+5mRMTTVsQdWutbA5FORCnkEPEgU0OF8IzGvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

//        TEXT + FILE
        function addUser()
        {
//            alert("Go");
            if($("#signup").valid()){
            var p = document.getElementById("upass").value;
            var cp = document.getElementById("ucpass").value;
            
          
                // TEXT
                var uname = document.getElementById("uname").value;
                var uemail = document.getElementById("uemail").value;
                var upass = document.getElementById("upass").value;
                var uaddress = document.getElementById("uaddress").value;
                var ucontact = document.getElementById("ucontact").value;

                // FILE
                var ph = document.getElementById("ph").files[0];    // File

                var url = "/addUser";

                var formdata = new FormData();

                formdata.append("uname", uname);
                formdata.append("uemail", uemail);
                formdata.append("upass", upass);
                formdata.append("uaddress", uaddress);
                formdata.append("ucontact", ucontact);
                formdata.append("ph", ph);

                fetch(url, {method: "POST", body: formdata})      // POST : URL Hidden
                        .then(response => response.text())
                        .then(ans => showAddUser(ans));
            }
        }

        function showAddUser(ans)
        {
            if (ans === "success")
            {
                Swal.fire({
                    title: "Success!",
                    text: "User Added Succcessfully !!!",
                    icon: "success"
                });

                document.getElementById("d1").innerHTML = "User Added Succcessfully !!!";
            } else if (ans === "fail")
            {
                Swal.fire({
                    title: "Oops...",
                    text: "Duplicate Entry Not Allowed ...",
                    icon: "error"
                });
            } else
            {
                Swal.fire(ans);
            }
        }
    </script>
</body>

<!-- Mirrored from rrdevs.net/demos/html/printfix/sing-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Apr 2024 07:05:57 GMT -->
</html>